cat > .npmignore << 'EOF'
node_modules/
*.o
example
example_output.jpg
*.tgz
test.js
Makefile
*.mk
*.d
binding.Makefile
obj.target/
build/Release/*.obj
build/Release/obj.target/
build/*/Makefile
build/config.gypi
build/binding.Makefile
EOF